/* general page styling */

.page {
    display: flex;
    flex-direction: column;
}

a,
ul {
    padding: 0;
    margin: 0;
}

/* header styling */

.header {
    display: flex;
    padding: 24px;
    background-color: #1f2937;
}

.hlogo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.left,
.right {
    display: flex;
    align-items: center;
}

.right {
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
}

a.right:link {
    text-decoration: none;
}

.right ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}    

/* first section styling */

